.plans {
    gap: 8px 0;
    width: 100%;
}

.plan-card {
    width: 100%;
    .discount-label {
        background-color: $yellow;
        padding: 3px 8px;
        border-radius: 6px;
        font-weight: 700;
        margin-left: 8px;
        font-family: $sf-display;
        // flex: 1;
        @extend .text-xs;
    }
    .price-block {
        margin: 7px 0 4px 0;
    }
    .orange {
        margin:0 4px 0 8px;
    }
}