.review-card {
    padding: 16px;
    border-radius: $card-radius;
    background-color: $white;
    box-shadow: 0px 16px 32px rgba(57, 53, 60, 0.08);
    height: 100%;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    @include mobile {
        max-height: unset;
        height: unset;
    }

    .customer-img {
        max-width: 153px;
        margin: 19px 0 16px 0;
    }
    .stars {
        margin-top: 2rem;
    }
    h6:nth-child(2) {
        margin-left: 4px;
    }
}