.custom-radio-wrap {
    width: 100%;
    flex: 1;
    input {
        display: none;
    }
    .checkmark {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $th-light;
        margin-left: 8px;
        flex-shrink: 0;
        position: relative;
        &::after {
            content: "";
            display: none;
            position: absolute;
            border: none;
            width: 6px;
            height: 12px;
            left: 7px;
            bottom: 8px;
            transform: rotate(45deg);
            box-shadow: 2px 2px 0 0 #FFFFFF;
        }
    }
    input:checked ~ label {
        border: $input-selected;

        .checkmark {
            background-color: $orange;
            &:after {
                display: block;
              }
        }
    }
}

label.custom-radio-label {
    border: $input-border;
    border-radius: $card-radius;
    padding: 18px 16px;
    position: relative;
    cursor: pointer;
    margin: 0;
    flex: 1;
    transition: $transition-all;

    &:hover, &:active, &:focus {
      border-color: $orange;
    }
  }