@font-face {
    font-family: "SF Display";
    src: url("../../assets/fonts/sf-pro-display-regular.OTF") format("opentype");
    font-weight: 400;
    
  }
  
  @font-face {
    font-family: "SF Display";
    src: url("../../assets/fonts/sf-pro-display-medium.OTF") format("opentype");
    font-weight: 600;
    
  }
  @font-face {
    font-family: "SF Display";
    src: url("../../assets/fonts/sf-pro-display-bold.OTF") format("opentype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "SF text";
    src: url("../../assets/fonts/sf-pro-text-reg.ttf") format("truetype");
    font-weight: 500;
    
  }
  
 