//fonts

$sf-text: "SF text";
$sf-display: "SF Display";

//colors

$black:#22222C;
$white: #fff;
$th-light: #E0E0E0;
$orange: #FF9B4E;
$yellow: #FFE082;
$blue: #90CAF9;

//sheer-colors

$blak-sheer: rgba(0,0,0,0.08);

//borders:

$input-border: 2px solid $blak-sheer;
$input-selected: 2px solid $orange;