.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    padding: 18px 15px;
    @include mobile {
        justify-content: flex-start
    }
    img {

    }
    p {
        @extend .banner-text;
        margin-left: 18px;
        span {
            @extend .banner-text;
            font-weight: 600;
        }
    }
    
}